.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  height: 100%;
}

.base-body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: darkgrey;
}

.base-footer {
  padding: 3rem;
  height: 10rem;
  background-color:brown;
}

.base-nav {
  height: 10rem;
  background-color:darkgrey;
}

.navbar {
  margin-left: 52%;
  width: 80vw;
  height: 8rem;
  background-color: black;
  rotate:  -1deg;
  transform: translateX(-50%);
  border-radius: 0px 0px 30px 20px;
}

.navbar-2 {
  margin-left: 54%;
  width: 80vw;
  height: 10rem;
  background-color: #fff;
  rotate:  -2.4deg;
  transform: translateX(-50%);
  border-radius: 0px 30px 30px 20px;
}

.navbar-nav{
  display: flex;
  flex-direction: column;
  
}

.nav-item{
  color: white;
}